<div style="text-align:center">
  <h1 class="label">
    SiteCore Infinite Scroll
  </h1>
</div>

<virtual-scroller
  #scroll
  [items]="imagesList"
  (vsEnd)="fetchMoreImages($event)"
  [scrollDebounceTime]="200"
  [bufferAmount]="50"
>
  <div class="images" *ngFor="let image of scroll.viewPortItems">
    <img src="{{ image.url }}" />
    <div class="label">{{ image.name }}</div>
  </div>
</virtual-scroller>
<div class="button-container" *ngIf="showMoreVisible">
  <button (click)="showMore()" class="button">Show more</button>
</div>
