h1 {
  font-family: sans-serif;
}

@mixin fontStyle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.images {
  height: 140px;
  width: 140px;
  //padding-top: 10px;
  border: 1px solid black;
  display: inline-block;
  margin: 15px;
}

virtual-scroller {
  width: auto;
  height: 600px;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
}

.button-container {
  text-align: center;
  margin: 10px;
}

.button {
  background: lightblue;
  border-radius: 3px;
  border: 1px solid black;
  @include fontStyle;
  font-size: 16px;
}

.label {
  @include fontStyle;
}
